
.col1, .col2, .col3, .cols { float:left;}

.col_1{ width:270px; float:left;}
.col_2{ width:690px; float:left;}

.col1{ width:250px; float:left;}

/*======= index.html =======*/
/*======= index-1.html =======*/
/*======= index-2.html =======*/
/*======= index-3.html =======*/
/*======= index-4.html =======*/
/*======= index-5.html =======*/
/*======= index-6.html =======*/
