/* CSS Document */
*{margin: 0;padding: 0;}
input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
text-align: start;
}
select{
box-sizing: border-box;
-webkit-box-align: center;
white-space: pre;
-webkit-rtl-ordering: logical;
cursor: default;
}
table{border-collapse:collapse;border-spacing:0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul, ol, li{list-style:none outside none;}
a{color:#333;outline: medium none;text-decoration: none;}
a:hover{text-decoration: none;}
em, i{font-style: normal;}
img{border:medium none;}
input,img{vertical-align: middle;}
.clear{clear:both;}
.clearfix:after {clear: both;content: "";display: block;visibility: hidden;}
.none{display: none;}
.no-spacing{margin:0;padding: 0;}
.margin-center{margin:0 auto;text-align: center;}
body{background-color: #EEEEEE !important;color: #666;font-size: 14px;line-height:22px;}
.mr-t20{margin-top: 20px;}
.mr-t10{margin-top: 10px;}

.fnred{color:#F00;}
.fngray{color:#999;}
.fnblack{color:#111;}
.fnwhite{color:#fff;}

.btnblue{border-radius:2px 2px 2px 2px;border:#04578b 1px solid;color:#fff;text-align:center;background:#079dd8;}

.in-feedback li:after,.gotop a b,h2.acc_trigger:after,h2.acc_trigger2:after,.listbox li:after,p.acc_trigger:after,p.acc_trigger2:after,.c-form-select:after{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-image: none;border-style: solid;content: " ";position: absolute;}

.main{margin: 0 auto;width:320px; overflow:hidden;}
header, nav, footer, section, acticle{display: block;}
header{padding:8px 0;height:30px;}
.h5-header{background:#079dd8 url(../images/header_bg.jpg) repeat-x;margin: 0 auto;position: relative;width: 320px;}


/*index*/
.logo{display:inline-block;height:27px;width:82px;margin-left:10px;float:left;}
.logo img{height:27px;width:82px;}
.cert{color:#fff;font:12px/22px simsun;margin-right:5px;float:right;}

.focus{margin: 0 auto;position: relative;width: 320px;}
.search_s_con{height:150px;overflow: hidden;width: 320px;}
.search_s_con ul li{float:left;height:150px;overflow: hidden;width: 320px;}
.search_s_con ul li img{width:320px;height:150px;}
.mark li {background-color: #C7C8C5;float: left;font-size: 0;height: 2px;line-height: 0;width: 20%;}
.mark li.con{background-color: #E9280D;}
.main{margin: 0 auto;width: 320px;}

.search_in{width:298px;margin:20px auto;background: none repeat scroll 0 0 #FFF;border: 1px solid #ddd;height:34px;overflow:hidden;}
.search_in input{border:0;}
.search_in input.text_info_se{float:left;height:34px;line-height:normal;width:245px;font-size:16px; padding:0 5px;vertical-align: middle;overflow:hidden;}
.search_in label{display:inline-block;border:0 none;float:right;height:34px;width:39px;overflow:hidden;}
.search_in label img{height:34px;width:39px;}

.channel{width:320px;text-align:center;margin:0 auto;line-height:30px;}
.channel ul{margin:0;}
.channel li{display: inline-block;margin:5px 10px;width:60px; float:left;}
.channel li img{width:60px;height:60px;border-radius:5px;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);}

.module{width:300px;margin:0 auto;}
.in-commh{margin:0;padding:0;}
.in-commh .in-commh-t{height:150px; padding-left: 10px;position: relative;width:65px; float:left;}
.in-commh .in-commh-t .after{bottom: 8px;height:30px;position: absolute;right: 8px;width:30px;z-index: 1;}
.in-commh .in-commh-t .after img{width:30px;height:30px;}
.in-commh .in-commh-t a{color: #FFF;display: block;height: 100%;}
.in-commh .in-commh-t h3{font-size: 24px;line-height: 24px;padding: 8px 0;}
.in-commh .in-commh-t p {font-size: 12px;line-height: 16px;}
.in-commh .in-sgray{background-color:#2F373C;}
.in-commh .in-commhbox{width:200px;float:left;}
.in-commh .in-commhbox .in-commh-img{height:115px;width:220px;}
.in-commh .in-commhbox .in-commh-img img{height:115px;width:220px;}
.mr-l5{margin-left:5px;}
.in-commh .in-commhbox .in-commh-img a{color: #FFF;display: block;position: relative;}
.in-commh .in-commhbox .in-commh-img a p{background-color: rgba(0, 0, 0, 0.5);bottom: 0;color: #FFF;height: 25px;left: 0;line-height: 25px;position: absolute;text-align: center;width: 100%;}
.in-commt{width:220px;margin-top:5px;}
.in-commt3,.in-commt03{width:320px;margin:0 auto; clear:both;}
.in-commt ul:after,.in-commt2 ul:afte,.in-commt3 ul:afte{clear: both;content: "";display: block;visibility: hidden;}
.in-commt3 ul{border-bottom: 1px solid #CDCDCD;padding:15px 0;}
.in-commt03 ul{padding:0;}
.in-commt li,.in-commt3 li,.in-commt03 li{float:left;text-align: center;}
.in-commt li{margin:0 2px;width:69px;}
.in-commt3 li,.in-commt03 li{margin:3px;width:100px;height:30px;overflow:hidden;}
.in-commt li a,.in-commt2 li a,.in-commt3 li a,.in-commt03 li a{ padding:0 2px;background-color: #FFF;border: 1px solid #DDD;display: block;font-size: 14px;height:28px;line-height:28px;}
.in-commt li a,.in-commt2 li a{border-radius: 2px 2px 2px 2px;}
.in-commt3 li a,.in-commt03 li a{border-radius: 4px 4px 4px 4px;}
/*.border-bottom{width:320px; margin:0 auto;padding:5px 0;}*/

/*家庭常备类别下拉*/
#showbox {width:320px; margin:0 auto; border-bottom:1px solid #cdcdcd;background:#eeeeee;}
.box3 {width:320px;margin:10px 0;max-height:70px;overflow:hidden;}
.boxt {margin:10px 0; display:block; }
#box4 {width:320px; height:5px;position:relative;}
#box4 span {color:#0D7DEB;font-size:12px; width:80px; border:1px #cdcdcd solid; position:absolute; left:35%; top:5px;background:#eeeeee; border-top:none; text-align:center; cursor:pointer; z-index:999;}

/*分页代码*/
.c-pnav-con {background: #F9F9F9;border: 1px solid #E0E1E1;height: 32px;line-height: 32px;margin: 16px 8px 0 8px;text-align: center;color: #999;border-radius: 4px;
-webkit-border-radius: 4px;}
.c-pnav-con .c-p-sec {display: -webkit-box;}
.c-pnav-con .c-p-sec .c-p-pre {border-right: 1px solid #E0E1E1;}
.c-pnav-con .c-p-sec .c-p-pre, .c-pnav-con .c-p-sec .c-p-next {width: 88px;}
.c-pnav-con .c-p-sec .c-p-cur {-webkit-box-flex: 1;position: relative;}
.c-pnav-con .c-p-sec .c-p-down span:last-child, .c-pnav-con .c-p-sec .c-p-up span:last-child {position: absolute;width: 8px;height: 5px;top: 12px;margin-left: 3px;
background: url(http//image.jianke.com/mobile/images/page_arrow.png) no-repeat;background-size: 8px;}
.c-pnav-con .c-p-sec .c-p-cur .c-p-select {position: absolute;top: 0px;left: 0px;height: 100%;width: 100%;opacity: 0;z-index: 10;}
.c-pnav-con .c-p-sec .c-p-next {border-left: 1px solid #E0E1E1;}

.in-comm-tag{width:300px;font-size: 0; margin-top:2px;}
.in-comm-tag a{background-color: #FFF;border: 1px solid #DDD;border-radius: 4px 4px 4px 4px;color: #666;display: inline-block;font-family: verdana;font-size: 12px;height: 24px;
line-height: 24px;margin:3px 3px 0 0;padding: 0 4px;}
.in-comm-tag a.tag-red,.in-commt3 li a.current,.in-commt03 li a.current{background-color:#079dd8;color: #FFF;}

.in-commt2,.in-feedback{width:300px;margin:0 auto; padding-top:20px;}
.in-commt2 li{float:left;margin:0 2px;text-align: center;width:56px;}
.in-commt2 li a{font-size:12px;}
.in-commt2 li a#current{color:#F00;border:0;font-weight:bold; background:none;}

.in-commt4{margin:15px 0;}
.in-commt4 li {text-align: center;width: 98px;float: left;margin-top: 2px;}
.in-commt4 .in-commt-im a{font-size: 18px;color: #F40;}
.in-commt4 li:nth-child(3n-1){width: 100px;margin: 2px 2px 0;}
.in-hot li a {font-size: 14px;}
.in-commt4 li a {display: block;border: 1px #DDD solid;border-radius: 2px;-webkit-border-radius: 2px;background-color: white;height: 48px;line-height: 48px;font-size: 16px;}

.in-feedback h5{color:#333;font-size:18px;line-height: 30px;}
.in-feedback li{height: 30px;line-height: 30px;position: relative; padding-right:10px;}
.in-feedback li:after{-webkit-transform:rotate(45deg);border-color: #666;border-width: 3px 3px 0 0;height: 6px;right: 2px;top: 10px;width: 6px;}
.in-feedback li a{display: block;height: 100%;}

.tc{text-align: center;}
.dis-buttom {background-color:#EAEAEA;border: 1px solid #CDCDCD;border-radius: 5px 5px 5px 5px;color: #3C3C3C;cursor: pointer;display: inline-block;font-size: 1em;height: 30px;line-height: 30px;margin: 15px 10px 0 0;text-align: center;width: 30%;}
.refill .pre, .refill .next {background: -moz-linear-gradient(center top , #FFFFFF, #DDD) repeat scroll 0 0 transparent;border: 1px solid #CDCDCD;border-radius: 5px 5px 5px 5px;color: #3C3C3C;cursor: pointer;display: inline-block;font-size: 1em;height: 30px;line-height: 30px;margin: 20px 0 0;text-align: center;width: 30%;}
.refill .pre:hover, .refill .next:hover {background: -moz-linear-gradient(center top , #FFFFFF, #BDDCF4) repeat scroll 0 0 transparent;}
.refill .pre span, .refill .next span {background: url("../images/page.png") repeat scroll 0 0 transparent;display: inline-block;height: 7px;margin-right: 5px;vertical-align: middle;width: 7px;}
.refill .next span {background-position: 0 -7px;margin: 0 0 0 5px;}
.refill .num a {color: #67738A;display: inline-block;height: 45px;margin: 10px 0 0;width: 45px;}
.refill .num a.curr {color: #3C3C3C;}

/*all class*/
.h5-header .c-inav{height:30px;text-align:center;position:relative;}
.back{height:30px;background-image:url(../images/back_bg.png);background-repeat:no-repeat;background-size:23px 30px;padding-left:20px;position:absolute;top:0;left:5px;float:left;}
.back a{display:block;color:#079dd8;line-height:30px;height:30px;padding-right:10px;background:#fff;}
.c-inav span{color:#fff;font-size:18px;font-weight:400;height:30px;line-height:30px;}
.choose a{color:#fff;line-height:30px;text-align:center;display:block;width:49px;height:30px;background-image:url(../images/t_r_btn.png);background-repeat:no-repeat;background-position:center center;background-size:51px 30px;overflow:hidden;position:absolute;top:0;right:5px;}
.gorylist{width:320px;margin:0 auto;position:relative;}
.product_ex h2:first-of-type{border-top: 1px solid #F6F6F6;}
h2.acc_trigger,h2.acc_trigger2{border-bottom: 1px solid #CDCDCD;border-top: 1px solid #FFFFFF;font-size:18px;font-weight:400;height: 40px;line-height: 40px;padding:0 10px;position:relative;}
h2.acc_trigger a,h2.acc_trigger2 a{display:inline-block;}
h2.acc_trigger:after,h2.acc_trigger2:after,.listbox li:after{-webkit-transform: rotate(45deg);border-color:#aaa;border-width: 2px 2px 0 0;height: 6px;margin-top: -3px;width: 6px;}
h2.acc_trigger:after{position: absolute;right: 15px;top: 50%;}
h2.acc_trigger2:after{position: absolute;right:175px;top: 50%;}

.two_level{width:160px;height:100%;overflow:auto;background:#fff;position:absolute;top:0;right:0;z-index:10;}

/*productlist*/
.rollBox{width:320px;overflow:hidden;margin:10px auto;}
.LeftBotton,.RightBotton{height:100px;width:30px;overflow:hidden;float:left;display:inline;cursor:pointer;}
.rollBox .LeftBotton{background:url(../images/shqm_left_pic.gif) no-repeat ;}
.rollBox .RightBotton{background:url(../images/shqm_right_pic.gif) no-repeat ;}
.rollBox .Cont{width:260px;height:150px;overflow:hidden;float:left;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:80px;float:left;text-align:center;padding-right:15px;}
*+html .rollBox .Cont .pic{width:80px;float:left;text-align:center;padding-right:15px;}
.rollBox .Cont .pic img,.listbox li dl dd img,.shoppingcar li dl dd img{width:70px;height:70px;padding:4px;background:#fff;border:1px solid #ccc;display:block;margin:0 auto;}
.rollBox .Cont .pic p.name2{ width:80px; height:30px; overflow:hidden;font:16px/30px simsun;}
.rollBox .Cont .pic p.price2{color:#ff0000; font:16px/25px simsun;width:80px; height:20px;overflow:hidden;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}

.prolist{width:320px; margin:0 auto;}
.bt_prolist{
width:100%;
height:30px;
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #fafafa 0%, #e1e1e1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafafa 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafafa 0%,#e1e1e1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafafa 0%,#e1e1e1 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fafafa, endColorstr=#e1e1e1);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#e1e1e1)";/*IE8+*/
background: linear-gradient(top,  #fafafa 0%,#e1e1e1 100%); /* W3C */
}
.bt_prolist ul{width:260px;height:30px;margin:0 auto;}
.bt_prolist ul li{float:left;}
.bt_prolist ul li a{display:block;width:130px;height:30px; font-size:16px; text-align:center; line-height:30px;}
.bt_prolist ul li a#cur01{
color:#fff;
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #13a2da 0%, #05688f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13a2da), color-stop(100%,#05688f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #13a2da 0%,#05688f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #13a2da 0%,#05688f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #13a2da 0%,#05688f 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fafafa, endColorstr=#e1e1e1);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fafafa, endColorstr=#e1e1e1)";/*IE8+*/
background: linear-gradient(top,  #13a2da 0%,#05688f 100%); /* W3C */
}
.listbox,.shoppingcar{width:320px;margin:0 auto;}
.listbox li,.shoppingcar li{border-bottom: 1px solid #CDCDCD;border-top: 1px solid #FFFFFF;font-size:12px;font-weight:400;padding:30px 0 20px 10px;position:relative;}
.delete_btn{position:absolute;bottom:10px;right:10px;}
.delete_btn img{width:16px;height:20px;}
.listbox li:after{position: absolute;right:10px;top:50%;}
.listbox li dl dd,.shoppingcar li dl dd{float:left;margin-right:5px;}
.listbox li dl dt,.shoppingcar li dl dt{margin-left:90px;}
.listbox span,.shoppingcar span{line-height:22px;}
.listbox b{font-size:12px;font-weight:normal;}
.pro_name{color:#111;font-size:14px;font-weight:400;}
.jk_price{color:#ff0000;font-size:16px;margin-right:5px;}
.sq_price{font-size:12px;text-decoration:line-through;}
.sq_price,.pro_zsqp{color:#999;}

/*choose*/
.sift{width:220px;position:absolute;top:15px;right:0;z-index:20;}
.arrow{
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: transparent transparent #fff;
border-image: none;
border-style: solid;
border-width: 15px;
height: 0;
float:right;
margin-right:10px;
}
.sift_con{width:180px;background:#fff;border-radius:4px 4px 4px 4px;padding:0 20px;overflow:hidden;}
.sift_con ul{text-align:left;margin:0;}
.sift_con ul li{border-bottom:1px solid #CDCDCD;padding:10px 0;}
.sift_con ul li dl dd{color:#333;font-size:16px;font-weight:400; float:left;}
.sift_con ul li dl dt{margin-left:50px; padding:2px 0;}
.sift_con ul li label{ padding:0 20px 0 5px;}
.sift_con a{line-height:25px;display:block;width:60px;height:25px;margin:15px auto;overflow:hidden;}

/*productdetail*/
.probox{width:300px;margin:0 auto;}
.probox .proimg{text-align:center;padding:10px;}
.probox .proimg img{width:250px;height:250px;border:#cdcdcd 1px solid;}
.probox h1{font:bold 20px/24px simsun;}
.probox .proinfo{font:16px/22px simsun;}
.probox em{font-size:12px;text-decoration:line-through;}
.product_tit{display:inline-block;vertical-align: middle;}
.reduction{background-image: url("../images/reduction.png");}
.plus{background-image: url("../images/plus.png");}
.plus,.reduction{background-position: center center;background-repeat: no-repeat;background-size: 22px 22px;display: inline-block;height: 22px;vertical-align: middle;width:22px;}
.number_info{width:35px;height:20px;border:#ccc 1px solid;text-align:center;}
.comment a{color: #004477;text-decoration:underline;}
.probtn li{width:300px;height:40px;margin:7px auto;}
.probtn li a{display:block;width:300px;height:40px;border-radius: 3px 3px 3px 3px;display:inline-block;font-size: 16px;font-weight:bold;line-height: 40px;text-align:center;}
.probtn li a.orange_btn,.st_con a.sto_btn{
height:40px;
line-height: 40px;
font-size: 16px;
font-weight:bold;
color:#fff;
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #f67d03 0%, #fb4303 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f67d03), color-stop(100%,#fb4303)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f67d03 0%,#fb4303 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f67d03 0%,#fb4303 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f67d03 0%,#fb4303 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f67d03, endColorstr=#fb4303);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f67d03, endColorstr=#fb4303)";/*IE8+*/
background: linear-gradient(top,  #f67d03 0%,#fb4303 100%); /* W3C */
}
.probtn li a.green_btn{
height:40px;
line-height: 40px;
font-size: 16px;
font-weight:bold;
color:#fff;
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #4ed40d 0%, #0c7f06 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ed40d), color-stop(100%,#0c7f06)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4ed40d 0%,#0c7f06 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4ed40d 0%,#0c7f06 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4ed40d 0%,#0c7f06 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4ed40d, endColorstr=#0c7f06);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#4ed40d, endColorstr=#0c7f06)";/*IE8+*/
background: linear-gradient(top,  #4ed40d 0%,#0c7f06 100%); /* W3C */
}
.probtn li a.blun_btn,.order_Status a.blun_btn{
height:40px;
line-height: 40px;
font-size: 16px;
font-weight:bold;
color:#fff;
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #07bcf0 0%, #0878bb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#07bcf0), color-stop(100%,#0878bb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #07bcf0 0%,#0878bb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #407bcf0 0%,#0878bb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #07bcf0 0%,#0878bb 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#07bcf0, endColorstr=#0878bb);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#07bcf0, endColorstr=#0878bb)";/*IE8+*/
background: linear-gradient(top,  #07bcf0 0%,#0878bb 100%); /* W3C */
}
.probtn li a.gray_btn{
height:40px;
line-height: 40px;
font-size: 16px;
font-weight:bold;
color:#111;
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #e0e0e0 0%, #abaaaa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#abaaaa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0e0e0 0%,#abaaaa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0e0e0 0%,#abaaaa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0e0e0 0%,#abaaaa 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e0e0e0, endColorstr=#abaaaa);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#e0e0e0, endColorstr=#abaaaa)";/*IE8+*/
background: linear-gradient(top,  #e0e0e0 0%,#abaaaa 100%); /* W3C */
}
.d-master{width:320px;}

/*stockout*/
.stockout{width:300px;background:#fff;position:relative;display:none;z-index:99;}
.stockout h2{color:#fff;font-size:20px;text-indent:0.5em;height:33px;line-height:33px;background:#2d96e9;}
.colse_btn{position:absolute;top:2px;right:2px;}
.colse_btn img{width:30px;height:30px;}
.st_con{padding:20px;}
.st_con input,.st_con textarea{border-radius: 3px 3px 3px 3px;border:#b2b2b2 1px solid;margin:15px 0;}
.st_con input{width:200px;height:30px;line-height:30px;padding:0 5px;background:#f1f1ee;}
.st_con a.sto_btn{font-size:16px;font-weight:bold;width:220px;height:40px;line-height:40px;border-radius: 3px 3px 3px 3px;display:block;margin:0 auto;}
.st_con textarea{height:70px;width:210px;padding:5px;background:#fff;}

.pagebox,.pagebox2{width:280px;height:90%;overflow:auto;margin:10px auto;padding:20px 10px;background:#fff;position:relative;display:none;z-index:90;}
/*.pagebox2 p img{width:200px;}*/

/*shoppingcar*/
.settlement,.wait_pay{padding:15px 10px;border-top: 1px solid #FFFFFF;font-size:18px;font-weight:400;line-height:30px; width:300px; margin:0 auto;}
.wait_pay{border-bottom: 1px solid #CDCDCD;position:relative;}
.settlement em{font-size:14px;}
a.gosett_btn,a.gosett_btn2{
color:#fff;
display:block;
text-align:center;
line-height:40px;
margin:0 auto;
border-radius: 3px 3px 3px 3px;
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #f76703 0%, #c70308 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f76703), color-stop(100%,#c70308)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f76703 0%,#c70308 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f76703 0%,#c70308 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f76703 0%,#c70308 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f76703, endColorstr=#c70308);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f76703, endColorstr=#c70308)";/*IE8+*/
background: linear-gradient(top,  #f76703 0%,#c70308 100%); /* W3C */
}
a.gosett_btn3{
color:#111;
display:block;
text-align:center;
line-height:40px;
margin:0 auto;
border-radius: 3px 3px 3px 3px;
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #e0e0e0 0%, #abaaaa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#abaaaa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0e0e0 0%,#abaaaa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0e0e0 0%,#abaaaa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0e0e0 0%,#abaaaa 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e0e0e0, endColorstr=#abaaaa);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#e0e0e0, endColorstr=#abaaaa)";/*IE8+*/
background: linear-gradient(top,  #e0e0e0 0%,#abaaaa 100%); /* W3C */
}
a.gosett_btn,a.gosett_btn3{width:300px;height:40px;font-weight:boldl;}
a.gosett_btn2{width:100px;height:40px;position:absolute;top:50px;right:10px;font-weight:boldl;}

/*login*/
.login_box{ background:#fff; height:300px;}
.regist_box{ background:#fff;}
.regist_box h3{ font-size:14px/30px ""; font-weight:normal;}
.regist_box .login_window{ height:450px; width:250px;}
.regist_box .login_window em{ font-size:12px/24px ""; color:#ccc;}
.regist_box input.test_in{ width:200px;}
.regist_box h2{ font:16px/35px ""; display:block; height:35px; border-bottom:1px dashed #CCC; color:#F60; margin-bottom:15px;}
.login_window p{ color: #F00; font-size:12px;}


.fr{float:right;}
.fl{float:left;}
.help-box {width:320px; background:#ffffff; position:relative; padding-bottom:10px; margin:0 auto;} 
.help-tt:after {clear: both;content: '';display: block;height: 0;} 
.help-tt {zoom:1; background:#eeeeee ; border:none; height:45px;}
.help-tt ul{ position:absolute;}
.help-tt ul li {float: left;width:159px; border-bottom: 1px solid #d6d6d6; text-align:center; height:45px; font:18px/45px "";} 
.help-tt ul li a{ color:#000;}
.help-tt ul li.select {border: 1px solid #999;background:#FFFFFF; border:none; }
.help-tt ul li.select a{color:#f78e2a;}
.help-tt ul li.select.right_btn{ border:none; border-left:1px solid #dcdcdc;}
.help-tt ul li.select.left_btn{ border:none; border-right:1px solid #dcdcdc;}
.help-cont {color:#666;}
.help-cont-wrap{ width:320px; background:#fff; margin:0 auto;}

.login_window{ width:250px; height:220px; margin:0 auto; padding-top:20px;font:14px/35px ""; background:#fffff;}
.login_window input{ background:#f1f1ef; border:1px solid #d5d5d4; display:block; height:35px; color: #999; padding-left:7px;
-moz-border-radius: 3px;      /* Gecko browsers */
-webkit-border-radius: 3px;   /* Webkit browsers */
border-radius:3px;        /* W3C syntax */
font:14px/20px "";
}
input.Submit_btn_pay{
	width:240px;
	height:40px;
	line-height:40px;
	display:block;
	color:#fff;
	background:#079dd8;
	border:1px solid #1584b9;
	text-align:center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left:0px;
	margin-top:20px;
	font-size:16px;
	cursor:pointer;
}
.login_window input.test_in{width:240px;}



.radio_rem{ display:inline;float:left;}
.login_window .remb_a{ float:left; margin-left:10px;}
.getpost_btn_box{ height:30px; display:block; clear: both;}
.getpost_btn_box .botton{ display:block; position: relative;text-align: center;text-decoration: none; font:14px/30px ""; width:120px; background:#c9c7c8;color:#777;}
.getpost_btn_box .arf_btn{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #a5cd4e; /* Old browsers */
background: -moz-linear-gradient(top,  #e9e7e8 0%, #b2b0b1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e7e8), color-stop(100%,#b2b0b1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e9e7e8 0%,#b2b0b1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e9e7e8 0%,#b2b0b1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e9e7e8 0%,#b2b0b1 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e9e7e8, endColorstr=#b2b0b1);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,  startColorstr=#e9e7e8, endColorstr=#b2b0b1)";/*IE8+*/
background: linear-gradient(top,  #e9e7e8 0%,#b2b0b1 100%); /* W3C */
}
.getpost_btn_box .arf_btn.fl{
color:#fff;
line-height:30px;
background: #fb4503; /* Old browsers */
background: -moz-linear-gradient(top,  #f68003 0%, #fb4503 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f68003), color-stop(100%,#fb4403)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f68003 0%,#fb4403 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f68003 0%,#fb4503 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f68003 0%,#fb4503 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f68003, endColorstr=#fb4503);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,  startColorstr=#f68003, endColorstr=#fb4503)";/*IE8+*/
background: linear-gradient(top,  #f68003 0%,#fb4403 100%); /* W3C */
}


/*paid now*/
.pay_now{ padding:10px 10px 18px 10px; width:300px; font-size:14px; border-bottom:1px solid #e6e6e6;color:#666;}
.pay_now h2{ display:block; font-size:16px; color:#000; font-weight:normal; line-height:30px;}
.pay_now h3{/* width:85px; */display:inline; font-weight:normal; float:left; text-align:right; padding-right:5px; height:18px; line-height:18px; text-align:left;}

.pay_now input.inpb{background:#fff; border:1px solid #ddd; }
.pay_now .shou_messge{ padding-left:5px; line-height:31px;}
.c-form-select{position: relative;float:left;margin-left:47px;}

.pay_now .shou_messge input{ float:left; background:#fff; border:1px solid #ddd; padding:0 5px;width:190px;height:31px;line-height:31px; margin-bottom:15px;-webkit-appearance: none;-webkit-border-radius:0;}
.c-form-select select{width:200px;height:31px; float:left; font:12px/25px ""; line-height:25px; color:#666; margin-bottom: 15px;border: solid 1px #D5D5D5;border-top-color: #BDBDBD;border-width: 1px;color: #333333;font-size:14px;padding-right:16px;background: #ffffff;text-indent: 9px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-appearance: none;-webkit-border-radius:0;}
.c-form-select:after{position: absolute;right: 10px;top: 30%;-webkit-transform: rotate(135deg);border-color:#aaa;border-width: 2px 2px 0 0;height: 6px;margin-top: -3px;width: 6px;}

.pay_now .shou_messge .c-form-select select option{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.pay_now input.detail{ display:block; width:200px;height:31px; line-height:31px; float:left;-webkit-appearance: none;-webkit-border-radius:0;}
.pay_now input.detail2{ display:block; width:188px; margin-top:10px; margin-right:5px; height:31px; line-height:31px; float:right;-webkit-appearance: none;-webkit-border-radius:0;}
.pay_now .shou_messge .detail_add{ display:block; clear:both;}
/*.pay_now .shou_messge .detail_add h3{ margin-top:10px;}*/
.Submit_btn_pay,.Submit_btn_pay2{
	font:14px/30px ""; 
	margin:10px auto;
	display:block;
	color:#fff;
	background:#079dd8;
	border:1px solid #1584b9;
	text-align:center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
.Submit_btn_pay{width:80px;height:30px;}
.Submit_btn_pay2{width:180px;height:30px;
	}
.pay_now .Method_pay{ padding-left:5px;}
.pay_now .Method_pay .radio_add{ display:block; float:left;}

.pay_now .Invoice{ padding-left:5px;}
.pay_now .Invoice h3{ float:left; font-weight:normal;}
.pay_now .Invoice p{ float:left; display:block; width:160px;}
.pay_now .Invoice p b{ float:left; display:block; width:80px; font-weight:normal;}

.pay_now.Remark p{ float:left; display:block;}
.pay_now.Remark p textarea {width:190px;padding:5px;margin-left:4px;border: solid 1px #D5D5D5;-webkit-appearance: none;-webkit-border-radius:0;}
.pay_now.Remark .detail{float:left; margin-top:0px;}

.pay_now .Inventory{ padding-left:20px; font-size:12px;}
.pay_now .Inventory h4{ font-weight:normal; color:#333333; font:14px/24px "simsun" !important;}
.pay_now .Inventory i, .pay_now .Inventory em{font-size:12px/24px ""; color:#666;}
.pay_now .Inventory b{ color:#d51008; font-weight:normal;}
.pay_now .Inventory p{ margin-bottom:10px;padding-left:10px;}

.pay_now.Submit_now{ border:none;}
.pay_now.Submit_now h1{ margin-bottom:10px;}
.pay_now.Submit_now b{ color:#d51008;}
.pay_now.Submit_now .Submit_btn_pay{width:280px;height:40px;line-height:40px;margin-top:25px;font-size:16px;font-weight:bold;}


/*Confirm_Order*/
.Confirm_Order{padding:5px 10px;}
.Confirm_Order h2{ font-weight:normal; font:16px/24px ""; color:#111; margin-top:20px;}
.Confirm_Order p{
	margin-top:10px;
	background:#fff;
	font:14px/18px "";
	display:block;
	border:1px solid #919191;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	padding:5px;
	padding-right:15px;
	}
	
.order_box p{ background:#f4f2e7; border:1px solid #b6b397; font:16px/20px ""; color:#333333;}
.order_box p i{ float:left; display:block; width:100px; text-align:right;}
.order_box p b{ color:#d51008; font-weight: normal;}
.order_box .Submit_btn_pay{ width:174px; margin-top:30px; margin-bottom:66px;}


p.acc_trigger,p.acc_trigger2{position:relative;}
p.acc_trigger a,h2.acc_trigger2 a{display:inline-block;}
p.acc_trigger:after,p.acc_trigger2:after{-webkit-transform:rotate(45deg);border-color: #AAA;border-width: 2px 2px 0 0;height: 6px;margin-top: -3px;width: 6px;}
p.acc_trigger:after{position: absolute;right: 10px;top: 50%;}

/*Confirm_Order Success*/
.Confirm_Order{ margin-top:27px;}
.Confirm_Order .Confirm_Order_sub{ color:#333; position:relative;} 
.Confirm_Order .Confirm_Order_sub b{color:#d51008; font-weight: normal;}

/*red_btn begin*/
.btn_radius{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.btn_red{
background: #f96a03; /* Old browsers */
background: -moz-linear-gradient(top,  #f85f00 0%, #c70408 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85f00), color-stop(100%,#c70408)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f85f00 0%,#c70408 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f85f00 0%,#c70408 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f85f00 0%,#c70408 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f85f00, endColorstr=#c70408);/*IE<9>*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0,  startColorstr=#f85f00, endColorstr=#c70408)";/*IE8+*/
background: linear-gradient(top,  #f85f00 0%,#c70408 100%); /* W3C */
}
.btn_order{
	
	width:100px;
	height:28px;
	position:absolute;
	right:10px;
	line-height:25px;
	text-align:center;
	display:block;
	top:35%;
	color:#fff;
}
/*red_btn end*/
.Confirm_Order .Prompt{ font:12px/24px ""; padding:27px 10px;}

/*online pay*/
.pay_online{ padding-top:28px;}
.pay_online h1{ font:16px/28px ""; border-bottom:1px solid #d3d4d4; color:#111111;}
.pay_online p{ font:14px/28px ""; border-top:1px solid #ffffff; padding-top:33px;}
.pay_online ul li{ line-height:34px; border-bottom:1px solid #c8c8c8; color:#333333; position:relative; padding-left:25px;}
.pay_online ul li i{ background:#fd7304; width:2px; display:block; margin-right:10px;
float:left; height:14px; position:absolute; left:10px; top:13px;}

.zfb_icon{ background:url(../images/logo_03.gif) 260px 7px no-repeat; background-size:50px 21px;}
.yl_icon{ background:url(../images/logo_06.gif) 260px 7px no-repeat; background-size:50px 21px;}
.cft_icon{ background:url(../images/logo_08.gif) 260px 7px no-repeat; background-size:50px 21px;}


.pay_online_suc{ padding:0 10px; padding-top:28px; background:url(../images/ok_img.png) 65px 23px no-repeat; background-size:33px 33px; padding-bottom:25px;}
.pay_online_suc .suc_txt{ width:200px; margin-left:100px; color:#333333;}
.pay_online_suc .suc_txt h1{ font:18px/20px ""; padding-bottom:10px;}
.pay_online_suc .suc_txt b{ font-weight: normal; color:#d70707;}
.pay_online_suc .suc_txt p{font:14px/20px "";}
.pay_online_suc .suc_txt em{font:12px/20px "";}
.pay_online_suc h2{font:12px/20px ""; color:#666; padding-left:15px; margin-top:22px;}
.pay_online_suc .goto_pay{ width:172px; height:30px; line-height:28px; color:#fff; text-align:center;}
.pay_online_suc .refind_order{width:172px; height:30px; line-height:28px; color:#333; text-align:center; background:#DDD!important; border:1px solid #8d8e8e;}


/*my order*/

.redfont{ color:#d51008; font-weight:normal;}
.my_order .help-tt ul li.select a{color:#079dd8;}
.order_end{ padding:20px 10px; color:#333333;}
.order_box_Module{ border:1px solid #DDD; position:relative; margin-bottom:20px;}
.order_box_Module h1{ font-weight:normal; font:14px/20px "";padding:10px;}
.order_box_Module .od_Track{ position:absolute; right:10px; top:15px; width:60px; font-size:12px;}
.order_box_Module .od_Track2{position:absolute; right:10px; top:15px; width:80px; font-size:12px}
.order_box_Module .product_box{ border-top:1px solid #DDD;height:95px; padding: 10px 0;}
.order_box_Module h2{ font:18px/24px ""; margin-top:5px; color:#111;}
.order_box_Module .product_box em{ display:block; width:100px; height:85px; float:left; margin:0px 10px;}
.order_box_Module .product_box em img{ width:100px; height:85px;}
.order_box_Module .product_box p{ margin-top:5px;}
.order_Status{ padding:10px;border-top:1px solid #DDD;}
.order_Status a{display:block;text-align:center;}


/*fashion_makeup*/
.fashion_li h2{height:43px;color:#333333;font:16px/43px simsun;}
/*Oil_Control_Acen*/
.Oil_con_li dl dd img{ padding:0px!important; width:80px!important; height:80px!important;}
.Oil_con_li dl dt p{ font-size:12px; display:block; width:200px;}
.Oil_con_li span.sq_price.mr-l5{ margin-left:15px; text-decoration: none;}
/*lenses*/
.lenses dd{ height:128px; vertical-align:middle;}
.lenses li{ height:128px;}
.lenses dl dt p{ display:block; width:210px;}
.lenses dl dd img{ margin-top:10px!important;}
.lenses dl dd { width:80px; float:left;}
.lenses dl dt { width:200px; float:left; margin-left:5px;}
.lenses_type { padding:20px 10px;}
.lenses_type em{ float:left; display:block; width:50px;}
.lenses_type p{ display:block; width:250px; float:left;}
.lenses_type a{ display:inline; background:#fff; padding:0px 3px; border:1px solid #cbcbcb;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; font:14px/24px "";  margin:0 1px;white-space:nowrap; float:left; margin-bottom:5px; display:block;}


.Model_box{ display:block; margin:10px 0;}
.Model_box dt{ width:40px; float:left;}
.Model_box dd{ width:260px; float:left;}
.Model_box dd a{ display:block; width:25px; height:10px; text-align:center; line-height:10px; float:left; border:1px solid #bdbebf; margin:2px 3px; font-size:12px;}

.pr_color_box{ display:block; margin-bottom:10px; clear:both;}
.pr_color_box dt{ width:43px; float:left;}
.pr_color_box dd{ width:250px; float:left;}
.pr_color_box dd a{ display:block; width:70px; height:20px; text-align:center; line-height:20px; float:left; border:1px solid #bdbebf; margin:2px 3px; font-size:14px; background:#fff;}


/*product detail*/
.probox.detail{ position:relative;}
.menu_product{ position: fixed; left:0px;top:60%; color:#fff; width:35px; height:137px; z-index:500;font:12px/12px "";}
.menu_product ul{ display:block;}
.menu_product ul li{ display:block; width:35px; border-bottom:1px solid #eeeeee ; text-align:center; padding:3px 2px 0px 0px; height:30px;}
.menu_product ul li a{ display:block; color:#fff; height:25px;}
.menu_product h4{ background: url(../images/content_page_03_2.jpg) center 5px no-repeat #2d96e9; height:25px; padding-top:15px; font-weight:normal;}
.menu_product ul li:last-child{ background:url(../images/content_page_10.jpg) center no-repeat #85c2f1; background-size:20px 16px; height:30px; padding:0px;}
.menu_product ul li.pay_car{ background:url(../images/content_page_07.jpg) 2px 8px no-repeat; background-size:27px 22px; position:relative; height:30px;}
.menu_product ul li.pay_car b{ position:absolute; top:1px; right:5px; width:10px; height:10px; text-align:center; color:#FFF; background:#C30;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; font:10px/12px "";}
#box_roll_pro{ background:#85c2f2; width:35px; height:110px; position:relative; display:none;}
.btn_pro{ position:relative; display:block; background-size:7px 5px; text-align:center; cursor:pointer;}

/*my jianke*/
.top_imgname{width:300px;padding:20px 10px;margin:0 auto;border-bottom: 1px solid #CDCDCD;}
.top_imgname h2{ width:60px; height:60px;box-shadow:1px 1px 2px #888888;float:left;} 
.top_imgname h2 img{width:60px; height:60px;}
.top_imgname p{ display:block; width:220px; float:left; margin-left:10px; padding-top:10px;}
.top_imgname p i{ float:left;}
.top_imgname p a{ margin:0px; float:right;}

.you_meybe_need{ width:300px; background:#fff; border:1px solid #dedede; margin:15px auto;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.you_meybe_need dl{ padding:5px;}
.you_meybe_need dt{line-height:30px;font:18px/24px "" ; padding:5px 10px;}
.you_meybe_need dd{width:275px; padding:10px 5px;}
.you_meybe_need dd ul{width:275px;height:120px;overflow:hidden;}
.you_meybe_need dd li{ width:80px; height:125px; display:block;text-align:center; margin:0 5px; float:left;}
.you_meybe_need dd li i img{ border:1px solid #e8e9e9;}
.you_meybe_need dd li em{ display:block; font-size:14px/24px "";}
.you_meybe_need dd li em b{ display:block; font-weight:normal; color:#d51008;}

.my_jiank{ width:240px; margin:15px auto; height:30px; position:relative; display:none; }
.my_jiank .Submit_btn_pay{ margin:0px; float:left; height:30px; line-height:30px; width:80px; display:block; margin-left:10px;}
.Submit_btn_pay.chenge_mass{ width:120px;}

/*ordertrack*/
.innercontent {padding: 0 10px;}
.logis-info{font-size:16px;margin:20px 0;}
.logis-detail ul li {color: #666666;position: relative;}
.logis-detail ul li:first-child p.logis-detail-date {color: #FF4400;}
.logis-detail ul li:first-child .logis-detail-first {border-left: 2px solid #FF4400;}
.logis-detail ul li:first-child .logis-detail-first:after {background: none repeat scroll 0 0 #FF4400;border: 2px solid #EEEEEE;}
.logis-detail ul li:first-child .logis-detail-first .logis-detail-content {background: none repeat scroll 0 0 #FF4400;color: #FFFFFF;}
.logis-detail ul li:first-child .logis-detail-first .logis-detail-content:after {border-bottom-color: #FF4400;}
.logis-detail ul .logis-detail-d {border-left: 2px solid #BDBDBD;margin-left: 25px;padding: 10px 0 10px 35px;position: relative;}
.logis-detail ul .logis-detail-d:after {background: none repeat scroll 0 0 #BDBDBD;border: 2px solid #EEEEEE;content: "";display: inline-block;height: 6px;left: -6px;position: absolute;top: 30px;width: 6px;}
.logis-detail ul .logis-detail-date {padding: 10px 0 10px 4px;text-align: right;width: 40px;}
.logis-detail ul .logis-detail-content {background: none repeat scroll 0 0 #DDDDDD;padding: 5px 10px;position: relative;}
.logis-detail ul .logis-detail-content .logis-detail-content-time {line-height: 25px;width: 50px;}
.logis-detail ul .logis-detail-content .logis-detail-content-detail {line-height: 25px;}
.logis-detail ul .logis-detail-content:after {border-bottom: 10px solid #DDDDDD;border-left: 10px solid #EEEEEE;content: ""; display: inline-block;left: -10px;position: absolute;top: 18px;}
.logis-detail ul .tody-date {color: #FF4400;}

.mc{ margin:15px 0 0 85px;}

/*购物车*/
.jk_logo{width:95px;height:42px;color:#fff;background:url(../images/nav_icon.png) no-repeat 0 -2px;position:fixed;left:0;bottom:0;z-index:100;margin-left:10px;}
span.num{width:20px;height:20px;text-align:center;position:absolute;top:-5px;right:4px;color:#F00;font-weight:bold;}
.cart_logo ul ,.cart_logo li{list-style:none;}
.cart_things{width:35px;height:30px;position:absolute;left:92px;top:10px;}
.person_center{width:35px;height:30px;position:absolute;left:135px;top:10px;}
.person_tel{width:35px;height:30px;position:absolute;left:180px;top:10px;}
.person_search{width:35px;height:30px;position:absolute;left:225px;top:10px;}
.cart_list{width:278px;height:45px;list-style:none; background:url(../images/nav_icon.png) no-repeat 0 -48px;position:fixed;left:-183px;bottom:0;display:none;margin:0;padding:0;z-index:9999;}
.cart_list a{text-decoration:none;}
/*购物车end*/