/* Distributed by http//freehtml5templates.com */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0px;
	padding: 0;
	border: 0;
	background-repeat: no-repeat;
}
.wrap_container {
	margin: auto;
	width: 80%;
	position: relative;
}


article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {



}
middle {
	width: 960px;
	position: relative;
	float: left;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	-moz-border-radius: 15px;
	padding-left: 30px;
	-moz-box-shadow:0px 0px 3px #000000;
	-webkit-box-shadow:0px 0px 3px #000000;
	box-shadow:0px 0px 3px #000000;
	background-attachment: scroll;
	background-color: #F4F4F4;
	background-repeat: repeat;
	background-position: 0 0;

}

	#menu2 a{
	display:block;
	float:left;
	width:200px;
	margin:0 20px;
	text-decoration:none;
	}
	#menu2 a span{
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#007FAA;
	font-weight:bold;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #FFFBF0;
	text-shadow: 1px #1da9b3;
	filter: dropshadow(color=#1da9b3, offx=1, offy=-1);
	}
	#menu2 a img{
	display:none;
	border:none;
	}
	#menu2 a:hover{  for IE6
	height:171px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:0px 0px 8px #000000;
	-webkit-box-shadow:0px 0px 8px #000000;
	box-shadow:0px 0px 8px #000000;
	opacity:0.79;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10PX;

	}
	#menu2 a:hover img{
	display:block;
	box-shadow: 0 45px 60px -30px #000000;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #A0A0A4;
	}
	#menu2 a:hover span{
	color:#FFFBF0;
	border-bottom:1px solid #666666;
	}

.abox {
	float: left;
	width: 180px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	margin-top: 30px;
	margin-left: 20px;
	text-shadow: -1px 1px #C0C0C0;
	background-image: url(../images/abox_sep.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 20px;
	background-attachment: scroll;
	background-color: #F4F4F4;
	padding-left: 10px;
	padding-top: 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0px 0px 2px #000000;
	-webkit-box-shadow:0px 0px 2px #000000;
	box-shadow:0px 0px 2px #000000;
	padding-bottom: 5px;


}


a img {border: 0;}

.large, h2 {
	font-size: 44px;
	line-height: 48px;
	text-shadow: -1px 1px 1px #fff;
	color: #D40000;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}


	


header {
	margin: auto;
	width: 960px;
	height: 70px;
}
#logo {
	float: left;
	height: 80px;
	width: 300px;
	color: #FFFFFF;
	font-family: "trebuchet MS";
	text-align: center;
	padding-top: 15px;
}
nav {
	float: left;
	width: 1000px;
	position: relative;
	height: 220px;
}
main {
	margin: auto;
	width: 1000px;
	position: relative;
}
section {
	float: left;
	width: 400px;
	position: relative;
	height: auto;
	padding-top: 10px;
	margin: 10px;
}
article {
	float: left;
	height: auto;
	width: 400px;
	margin: 10px;
}
intro {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:0px 0px 1px #000000;
	-webkit-box-shadow:0px 0px 1px #000000;
	box-shadow:0px 0px 1px #000000;
    background: none repeat scroll 0 0 #F4F4F4;
	width: 980px;
	position: relative;
	float: left;
	clear: both;
	height: auto;
	padding: 10px;
	margin-top: 30px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	
}
.button {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	float: right;
	height: 20px;
	width: 70px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align: center;
   }
.wrap_container .main .abox .button a {
	color: white;
	text-decoration: none;
}
.wrap_container .main .abox .button a:hover {
	color: #FF5F55;
}

.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }


   
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.footer_content {
	margin: auto;
	height: 120px;
	width: 100%;
	display: block;
	background-image: url(../images/footer_bg.jpg);
	background-repeat: repeat-x;
	clear: both;
}
.cursive
{
	font-family:cursive;
	text-shadow: 1px 1px 1px #000000;
	color: #007FAA;
}
.download_box {
	float: left;
	height: auto;
	width: 437px;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #007FAA;
	font-style: italic;
	text-shadow: -1px 1px #FAFAFA;
}
.download_box img {
	float: left;
}
.download_box fcaption {
	float: right;
	width: 370px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.button_read {
	float: right;
	height: 90px;
	width: 120px;
	position: relative;
	left: 21px;
}
.ex {
	color: #FF6600;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
testimonials {
	float: left;
	width: 450px;
	position: relative;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	text-align: justify;
	color: #333333;
	font-size: 14px;
	background-image: url(../images/separator.jpg);
	background-repeat: repeat-y;
	background-position: right center;
	padding-right: 30px;
	padding-left: 5px;
	margin-bottom: 50px;
	margin-top: 30px;
}
.testimonials img {
	float: left;
	padding: 10px;
}
aside {
	float: left;
	width: 450px;
	position: relative;
	padding-left: 25px;
	margin-top: 30px;
	background-position: right;
}
.aside_content li {
	list-style-position: outset;
	list-style-image: url(../images/icon_x.png);
}
.main .ex a {
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}
.main .ex a:hover {
	font-weight: bold;
	color: #17A13E;
}
.cel {
	font-weight: bold;
	color: #00CCFF;
}
.or a:hover{
	color: #CC0099;
	font-weight: bold;

}
.bia {
	font-weight: bold;
	color: #FFFFFF;
}
.vio {
	font-weight: bold;
	color: #CC3399;
}
.gre {
	font-weight: bold;
	color: #D43F00;
}
.ro {
	font-weight: bold;
	color: #FF0000;
}
.main .or {
	font-weight: bold;
	color: #D40000;
}
aside li {
	list-style-position: outset;
	list-style-image: url(../images/aside_li.png);
	line-height: 30px;
}
testimonials img {
	float: left;
}
#logo {
	float: left;
	width: 300px;
}
.main {
	margin: auto;
	width: 960px;
	position: relative;

}
testimonials {
	float: left;
	height: auto;
	width: 450px;
	margin-top: 30px;
	box-shadow: 0 45px 60px -50px #000000;
	padding-bottom: 15px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}
.intro_middle {
	width: 960px;
	float: left;
	margin-top: 60px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
  box-shadow: 0 0 2px #000000;
}
.main h3 {
	width: 350px;
	float: left;
	padding-left: 20px;
}
.footer_content span {
	height: 15px;
	width: 120px;
	position: relative;
	padding: 0em;
	float: left;
	text-align: center;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: auto;
	margin-left: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.footer_content .social {
	float: left;
	height: 25px;
	width: 300px;
	position: relative;
}
.footer_content a {
	color: #00BFAA;
	text-decoration: none;
}
.footer_content a:HOVER {
	color: lightblue;
	text-shadow: 1px 1px #000000;
}
.copy {
	float: left;
	height: 20px;
	width: 700px;
	color: #FFFBF0;
	font-family: "trebuchet MS";
	font-style: normal;
	clear: both;
	margin-left: 90px;
	text-align: center;
}
.wrap_container .main .button a {
	color: #FFFBF0;
	text-decoration: none;
}
.wrap_container .main .button a:hover {
	color: #FF5F55;
}
.spaz {
	float: left;
	height: 100px;
	width: 200px;
	visibility: hidden;
}
.social a:hover {
	opacity: 0.5;
}
