/* LayerSlider Full Width Skin */



.ls-fullwidth {
	background: #ddd;
}

.ls-fullwidth .ls-playvideo {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
}

.ls-fullwidth .ls-playvideo,
.ls-fullwidth .ls-nav-sides,
.ls-fullwidth .ls-bottom-slidebuttons a,
.ls-fullwidth .ls-nav-start,
.ls-fullwidth .ls-nav-stop {
	background-image: url(skin.png);	
}

.ls-fullwidth .ls-playvideo {
	background-position: -300px -150px;
}

.ls-fullwidth .ls-playvideo:hover,
.ls-fullwidth .ls-vpcontainer:hover .ls-playvideo {
	background-position: -375px -150px;
}

.ls-fullwidth .ls-nav-start {
	background-position: -300px 0px;
}

.ls-fullwidth .ls-nav-start:hover,
.ls-fullwidth .ls-nav-start-active {
	background-position: -300px -75px;
}

.ls-fullwidth .ls-nav-stop {
	background-position: -450px 0px;
}

.ls-fullwidth .ls-nav-stop:hover,
.ls-fullwidth .ls-nav-stop-active {
	background-position: -450px -75px;
}

.ls-fullwidth .ls-bottom-slidebuttons a {
	background-position: 0px -150px;
}

.ls-fullwidth .ls-bottom-slidebuttons a.ls-nav-active,
.ls-fullwidth .ls-bottom-slidebuttons a:hover {
	background-position: -75px -150px;
}

.ls-fullwidth .ls-nav-sideleft {
	background-position: -150px -150px;	
}

.ls-fullwidth .ls-nav-sideright {
	background-position: -225px -150px;	
}



 



.ls-fullwidth .ls-bottom-slidebuttons,
.ls-fullwidth .ls-bottom-slidebuttons a,
.ls-fullwidth .ls-nav-start,
.ls-fullwidth .ls-nav-stop,
.ls-fullwidth .ls-nav-sides {
	height: 20px;
}

.ls-fullwidth .ls-bottom-slidebuttons,
.ls-fullwidth .ls-bottom-slidebuttons a,
.ls-fullwidth .ls-nav-start,
.ls-fullwidth .ls-nav-stop,
.ls-fullwidth .ls-nav-sides {
	display: inline-block;
}

.ls-fullwidth .ls-bottom-slidebuttons,
.ls-fullwidth .ls-nav-start,
.ls-fullwidth .ls-nav-stop,
.ls-fullwidth .ls-nav-sides {
	top: -50px;
}

.ls-fullwidth .ls-nav-start,
.ls-fullwidth .ls-nav-stop {
	width: 25px;
}

.ls-fullwidth .ls-bottom-slidebuttons a {
	width: 20px;
}

.ls-fullwidth .ls-nav-sides {
	width: 0px;	
}



.ls-fullwidth .ls-thumbnail-hover {
	bottom: 30px;
	padding: 2px;
	margin-left: 1px;
}

.ls-fullwidth .ls-thumbnail-hover-bg {
	background: #eee;
}

.ls-fullwidth .ls-thumbnail-hover span {
	border: 5px solid #eee;
	margin-left: -5px;
}



.ls-fullwidth .ls-thumbnail {
	top: 10px;
}

.ls-fullwidth .ls-thumbnail-inner {
	padding: 2px;
	margin-left: -2px;
	background: #fff;
}

.ls-fullwidth .ls-thumbnail-slide a {
	margin-right: 2px;
}

.ls-fullwidth .ls-nothumb {
	background: #eee;
}