
/*-----------------------------------------------------------------------------

	-	Revolution Slider 2.0 Captions -

		Screen Stylesheet

version:   	1.4.5
date:      	09/18/11
last update: 13.10.2012
author:		themepunch
email:     	info@themepunch.com
website:   	http//www.themepunch.com
-----------------------------------------------------------------------------*/



/*************************
	-	CAPTIONS	-
**************************/
.tp-caption.big_white { position: absolute; color: #fff; text-shadow: none; font-weight: 800; font-size: 20px; line-height: 20px; font-family: 'Open Sans', sans; padding: 3px 4px; padding-top: 1px; margin: 0px; border-width: 0px; border-style: none; background-color:#000; letter-spacing: 0px; }

.tp-caption.big_orange { position: absolute; color: #fff; text-shadow: none; font-weight: 700; font-size: 36px; line-height: 36px; font-family: Arial; padding: 0px 4px; margin: 0px; border-width: 0px; border-style: none; background-color:#fb7354; letter-spacing: -1.5px; }

.tp-caption.big_black { position: absolute; color: #000; text-shadow: none; font-weight: 800; font-size: 36px; line-height: 36px; font-family: 'Open Sans', sans; padding: 0px 4px; margin: 0px; border-width: 0px; border-style: none; background-color:#fff; letter-spacing: -1.5px; }

.tp-caption.medium_grey { position: absolute; color: #fff; text-shadow: none; font-weight: 700; font-size: 20px; line-height: 20px; font-family: Arial; padding: 2px 4px; margin: 0px; border-width: 0px; border-style: none; background-color:#888; white-space:nowrap; text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }

.tp-caption.small_text { position: absolute; color: #fff; text-shadow: none; font-weight: 700; font-size: 16px; line-height: 20px; font-family: Arial; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; }

.tp-caption.medium_text { position: absolute; color: #fff; text-shadow: none; font-weight: 300; font-size: 20px; line-height: 20px; font-family: 'Open Sans', sans; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }

.tp-caption.large_text { position: absolute; color: #333; text-shadow: none; font-weight: 400; font-size: 36px; line-height: 36px; font-family: 'Open Sans', sans; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; }

.tp-caption.large_black_text { position: absolute; color: #000; text-shadow: none; font-weight: 300; font-size: 42px; line-height: 42px; font-family: 'Open Sans', sans; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; }

.tp-caption.very_large_text { position: absolute; color: #fff; text-shadow: none; font-weight: 800; font-size: 60px; line-height: 60px; font-family: 'Open Sans', sans; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); letter-spacing: 0px; }

.tp-caption.very_large_black_text { position: absolute; color: #000; text-shadow: none; font-weight: 800; font-size: 72px; line-height: 72px; font-family: 'Open Sans', sans; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; }

.tp-caption.bold_red_text { position: absolute; color: #fff; text-shadow: none; font-weight: 100; font-size: 23px; line-height: 20px; font-family: 'Pacifico', cursive; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; text-shadow: 0 1px 0 #333333; }

.tp-caption.bold_brown_text { position: absolute; color: #a04606; text-shadow: none; font-weight: 800; font-size: 20px; line-height: 20px; font-family: 'Open Sans', sans; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; }

.tp-caption.bold_green_text { position: absolute; color: #5b9830; text-shadow: none; font-weight: 800; font-size: 20px; line-height: 20px; font-family: 'Open Sans', sans; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; }

.tp-caption.very_big_white { position: absolute; color: #fff; text-shadow: none; font-weight: 800; font-size: 36px; line-height: 36px; font-family: 'Open Sans', sans; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; padding: 3px 4px; padding-top: 1px; background-color:#7e8e96; }

.tp-caption.very_big_black { position: absolute; color: #000; text-shadow: none; font-weight: 700; font-size: 60px; line-height: 60px; font-family: Arial; margin: 0px; border-width: 0px; border-style: none; white-space:nowrap; padding: 0px 4px; padding-top: 1px; background-color:#fff; }

.tp-caption.boxshadow { -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }

.tp-caption.black { color: #000; text-shadow: none; font-weight: 300; font-size: 19px; line-height: 19px; font-family: 'Open Sans', sans; }

.tp-caption.noshadow { text-shadow: none; }

.tp-caption a { }

.tp-caption a:hover { }

.fullwidthabnner iframe { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); border: 1px solid rgba(255, 255, 255, 0.3); padding: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.tp-caption.big_color { position: absolute; color: #169FE6; text-shadow: none; font-weight: 700; font-size: 32px; line-height: 36px; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.big_black { position: absolute; color: #000; text-shadow: none; font-weight: 700; font-size: 32px; line-height: 36px; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.big_white { position: absolute; color: #ffffff; text-shadow: none; font-weight: 700; font-size: 32px; line-height: 36px; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.big_grey { position: absolute; color: #444444; text-shadow: none; font-weight: 700; font-size: 32px; line-height: 36px; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.big_colorbg { position: absolute; color: #ffffff; background: #169FE6; text-shadow: none; font-weight: 700; font-size: 32px; line-height: 32px; padding:5px 15px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

.tp-caption.big_whitebg { position: absolute; color: #777777; background: #ffffff; text-shadow: none; font-weight: 700; font-size: 32px; line-height: 32px; padding:5px 15px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

.tp-caption.big_green_colorbg { position: absolute; color: #ffffff; background: #456907; text-shadow: none; font-weight: 700; font-size: 32px; line-height: 32px; padding:5px 15px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

.tp-caption.big_black_colorbg { position: absolute; color: #ffffff; background: #333; text-shadow: none; font-weight: 700; font-size: 32px; line-height: 32px; padding:5px 15px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

/* ------------------------------------------------------------------------ */

.tp-caption.customfont_black { color : #000000; font-weight: 700; font-family:'Open Sans', sans; font-size:74px; line-height:64px; letter-spacing: -2px; }

.tp-caption.customfont_white { color : #ffffff; font-weight: 700; font-family:'Open Sans', sans; font-size:74px; line-height:64px; letter-spacing: -2px; }

.tp-caption.customfont_grey { color : #777777; font-weight: 700; font-family:'Open Sans', sans; font-size:74px; line-height:64px; letter-spacing: -2px; }

.tp-caption.customfont_color { color : #fff; font-weight: 700; font-family:'Open Sans', sans; font-size:74px; line-height:64px; letter-spacing: -2px; text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3); }

/* ------------------------------------------------------------------------ */

.tp-caption.medium_black { position: absolute; text-shadow: none; font-size: 22px; line-height: 30px; padding: 0px; margin: 0px; border-width: 0px; border-style: none; color: #000000; font-weight: 700; }

.tp-caption.medium_grey { position: absolute; text-shadow: none; font-size: 22px; line-height: 30px; padding: 0px; margin: 0px; border-width: 0px; border-style: none; color: #444444; font-weight: 700; }

.tp-caption.medium_white { position: absolute; text-shadow: none; font-size: 22px; line-height: 30px; padding: 0px; margin: 0px; border-width: 0px; border-style: none; color: #ffffff; font-weight: 700; }

.tp-caption.medium_colorbg { position: absolute; color: #ffffff; background: #169FE6; text-shadow: none; font-weight: 700; font-size: 22px; line-height: 22px; padding:5px 10px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

.tp-caption.medium_whitebg { position: absolute; color: #777777; background: #ffffff; text-shadow: none; font-weight: 700; font-size: 22px; line-height: 22px; padding:5px 10px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

/* ------------------------------------------------------------------------ */

.tp-caption.small_black { position: absolute; text-shadow: none; font-size: 16px; line-height: 22px; padding: 0px; margin: 0px; border-width: 0px; border-style: none; color: #000000; font-weight: 700; }

.tp-caption.small_grey { position: absolute; text-shadow: none; font-size: 16px; line-height: 22px; padding: 0px; margin: 0px; border-width: 0px; border-style: none; color: #444444; font-weight: 700; }

.tp-caption.small_white { position: absolute; text-shadow: none; font-size: 16px; line-height: 22px; padding: 0px; margin: 0px; border-width: 0px; border-style: none; color: #ffffff; font-weight: 700; }

.tp-caption.small_colorbg { position: absolute; color: #ffffff; background: #169FE6; text-shadow: none; font-weight: 700; font-size: 16px; line-height: 16px; padding:5px 10px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

.tp-caption.small_whitebg { position: absolute; color: #777777; background: #ffffff; text-shadow: none; font-weight: 700; font-size: 16px; line-height: 16px; padding:5px 10px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

.tp-caption.small_greybg { position: absolute; color: #ffffff; background: rgba(50, 50, 50, 0.6); text-shadow: none; font-weight: 700; font-size: 14px; line-height: 14px; padding:5px 10px; margin: 0px; border-width: 0px; border-style: none; -webkit-box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); box-shadow:  0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px; border-radius: 2px; }

/* ------------------------------------------------------------------------ */

.tp-caption.medium_text_black { position: absolute; color: #000000; text-shadow: none; font-size: 14px; line-height: 1.6 !important; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.medium_text_grey { position: absolute; color: #444444; text-shadow: none; font-size: 14px; line-height: 1.6 !important; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.medium_text_brightgrey { position: absolute; color: #777777; text-shadow: none; font-size: 14px; line-height: 1.6 !important; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.medium_text_white { position: absolute; color: #ffffff; text-shadow: none; font-size: 14px; line-height: 1.6 !important; margin: 0px; border-width: 0px; border-style: none; }

/* ------------------------------------------------------------------------ */

.tp-caption.small_text_black { position: absolute; color: #777777; text-shadow: none; font-size: 12px; line-height: 1.6 !important; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.small_text_grey { position: absolute; color: #444444; text-shadow: none; font-size: 12px; line-height: 1.6 !important; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.small_text_brightgrey { position: absolute; color: #777777; text-shadow: none; font-size: 12px; line-height: 1.6 !important; margin: 0px; border-width: 0px; border-style: none; }

.tp-caption.small_text_white { position: absolute; color: #ffffff; text-shadow: none; font-size: 12px; line-height: 1.6 !important; margin: 0px; border-width: 0px; border-style: none; }

/* ------------------------------------------------------------------------ */

.tp-caption.noshadow { text-shadow: none; }

.tp-caption a { }

.tp-caption a:hover { }
