/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http//www.zerotheme.com/
*/
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}

.nav-responsive{display:none;}
.nav-responsive{position: relative;margin: 0px;background:#333333;}
.nav-responsive div{overflow: hidden;position: relative;font: 18px/37px 'PT Sans Narrow';color: #fff;text-align:center;text-transform:uppercase;font-weight:bold;}
.nav-responsive select{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	cursor: pointer;}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#slide{
		display: none;
	}
	header>div+div>div, footer {width:768px;}
	footer p{
		width: 460px;
	}
	
}

@media only screen and (max-width: 767px) {
	#slide{
		display: none;
	}
	nav{
		display: none;
	}
	.nav-responsive{
		display: block;
	}
	header>div+div>div, footer{width:100%;}
	footer p, .soc-icons{
		width: 95%;
		float: left;
		text-align: left;
		margin: 0 0 10px 10px;
	}
	.map, .map iframe {width:100%; height:auto;}
}
@media only screen and (max-width: 479px) {
	
}