/***************************************************
	      online solutions by marija zaric
        template distributed by
        http//freehtml5templates.com 
***************************************************


***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


a img {border:none}


aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}


/***************************************************
			      Global styles
***************************************************/

html, body {
	width:100%;
	height:100%;

	}


html, body{
    font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	background-color:#E4E4E4;
	background-image:url(../images/bg.png); 
	background-position:left top;
	background-repeat:repeat-x;
	color:#3F3E3C;
	margin:0 0 1px; height:100%; 
	line-height: 1.5;

}

p {
	margin-bottom:7px;
	text-align:justify;
	}
	
a, p a {
	text-decoration:none;
	color:white;
	}
	a:hover {color:white;}


h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Verdana, sans-serif;	
    font-weight: normal;
	position:relative;
	text-shadow: 2px 3px 3px #C1C1C1;

	

}


	
h1{
	font-size: 18px;
	line-height:0.9;
	color:#FF7F00;
	text-transform:uppercase;
	text-align:left;
	margin-bottom:10px;
	padding-bottom:10px;


	}

	
	
h2{
	font-size: 16px;
	line-height:1.3;
	color:#FF7F00;
	text-transform:none;
	font-style:italic;
	text-align:left;
	margin-top:7px;
	padding-bottom:6px;



	}
	

h3{
	font-size: 17px;
	line-height:0.9;
	color: white;
	margin-top:20px;
	left:0px;
	}
	
h3 span{
	
	font-size: 12px;
	line-height: 1.4;
	color:white;
	display:block;
	margin-top:10px;
	text-transform:none;


}

/***************************************************
			    Main containers
***************************************************/

#container, #container_left, #container_right{
	position: relative;
	width:100%;
	
	}
	#container{
			position:relative;
			width:980px;
			margin:0 auto;
			background-color:transparent;
			min-height:100%;

			
}



.group1 {
	float: left;
	width: 274px;
	position: relative;
	background:white;
	padding:15px;
	margin-bottom:10px;
	border:3px double #CDCDCD;
	-moz-border-radius: 5px;
	border-radius: 5px;

	


	}
	
.group2 {
	float: left;
	width: 274px;
	position: relative;
	background:white;
	padding:15px;
	margin-bottom:10px;
	margin-left:25px;
	border:3px double #CDCDCD;
	-moz-border-radius: 5px;
	border-radius: 5px;




	}
	
.group3 {
	float: right;
	width: 274px;
	position: relative;
	background:white;
	padding:15px;
	margin-bottom:10px;
	margin-left:10px;
	border:3px double #CDCDCD;
	-moz-border-radius: 5px;
	border-radius: 5px;


	}


	
.group4 {
	float: right;
	width: 950px;
	position: relative;
	padding:15px;
	background:white;
	border:3px double #CDCDCD;
	-moz-border-radius: 5px;
	border-radius: 5px;




	}
	
	
			
header{
	position: relative;
	float:left;
	width: 100%;
	height:83px;



	}
	
	
/***************************************************
				INTRO
***************************************************/	
	
	#intro{
	width: 960px;
	position: relative;
	float: left;
	height:300px;
	padding:10px;
	background:#E9EAEB;
	margin-top:12px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	
	

	}

/***************************************************
				   HOLDERS
***************************************************/	

.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-top:5px;
	margin-bottom:90px;



	}
	
.holder_content1 {
	position: relative;
	float: left;
	width: 100%;
	margin-top:40px;
	margin-bottom:30px;


	}
	
	
.holder_content_separator{
	margin-bottom:19px;
	}

	
/***************************************************
			        GALLERY
***************************************************/
	 
	 	 
	 a.photo_hover3{
	position:relative;
	float: left;
	margin:5px 13px 8px 0;
	padding: 8px;
	-moz-box-shadow: 3px 3px gray;
	-webkit-box-shadow: 3px 3px gray;
	box-shadow: 3px 3px gray;

	}
	a.photo_hover3{ background-color:white;
	border: 1px solid #E1E1E1;

}
	a.photo_hover3:hover {
	border: 1px solid #E1E1E1;
	background-color:white;
	opacity:0.5;
	z-index:1000;
}

	
	 a.photo_hover2{
	position:relative;
	float: right;
	margin:5px 13px 8px 0;
	padding: 8px;
	-moz-box-shadow: 3px 3px gray;
	-webkit-box-shadow: 3px 3px gray;
	box-shadow: 3px 3px gray;

	}
	a.photo_hover2{ background-color:white;
	border: 1px solid #E1E1E1;

}
	a.photo_hover2:hover {
	border: 1px solid #E1E1E1;
	background-color:white;
	opacity:0.5;
	z-index:1000;
}
	
	
/***************************************************
			        FOOTER
***************************************************/


footer{
	position:relative;
	height:300px;
	clear:both;
	width:100%;
	background-image:url(../images/footer.png);
	background-position:left top;
	background-repeat:repeat-x;
	background-color:#333333;
	
	

	}

#FooterOne, #FooterTwo, #FooterTree {
	position: absolute;	
}

#FooterTwo{
	position: absolute;
	right: 225px;
	top:250px;
	color:white;

}

#FooterTree{
	position: absolute;
	left: 225px;
	top:250px;
	color:white;

}

.container{
    width:980px;
    margin:0 auto;
	background-color:transparent;


}

.footer_left{
	float:left;
	padding:12px;
	margin-botttom:-55px;
	width:170px;
	margin-right:76px;
}



/***************************************************
				       MENU
***************************************************/

nav{
	position:absolute;
	width:408px;
	height:40px;
	top:28px;
	left:570px;
	background-color:white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
	box-shadow: 3px 3px rgba(0,0,0,0.1);

}


nav ul li{
	float: left;
	line-height:normal;
	margin-left:15px;
}

nav ul li a{
	font-size: 18px;
	font-family:Arial, Verdana, sans-serif;
	color:orange;
	text-transform:capitalize;
	font-weight:normal;
	display:block;	/* IE6, IE7 line height fix */
	background-color:transparent;
    text-decoration:none;
	margin-top:3px;
	padding:5px;


	


}

nav ul li a:hover{
	color:#ED7803;
	text-decoration:underline;

}




/***************************************************
				   SPECIFIC
***************************************************/

#logo{
	position:relative;
   	float:left;
   	top:-55px;
	left:-3px;
	width:250px;
	height:160px;
	

}

.clearing{
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
}

 
 	
.button {
	width: 80px;
	height:16px;
	position:relative;
	margin-top:12px;
	padding:9px;
	background-color:#FC8507;
	display: inline-block;
	color:white;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:right;
	text-decoration:none;
	


	
	
	}
	
.button:hover {
	background-color:#ED7803;
	text-decoration:none;
}





/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:980px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:980px;
	height:270px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin-top:100px;
	width:100x;
	position:absolute;
	top:180px;
	left:880px;
	z-index:1000;
	
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.icons{
	float:left;
	padding:5px;
}

.picture_footer{
	position:absolute;
	left:980px;
	top:-85px;
}
