/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}

body { 	 
	font: 14px/18px "Times New Roman", Times, serif;
	color:#6f6f6f;
	min-width:1024px;
	background: #262626;
}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.main {width:1024px; margin:0 auto;}
/***********************************************************************/
a {text-decoration:none; cursor:pointer;text-decoration:none; }
a:hover {text-decoration:none;}

.link {color:#bf96c7; text-decoration:underline;}
.link:hover {color:#fff;text-decoration:underline;}

.link-1 {font-size:16px; line-height:20px; color:#fff; font-style:italic; text-decoration:underline;display:inline-block;}
.link-1:hover {color:#bf96c7;text-decoration:underline;}

.link-2 {color:#fff; text-decoration:underline;}
.link-2:hover {color:#bf96c7;text-decoration:underline;}

.clr-1 { color:#fff;}
a.clr-1:hover {text-decoration:underline;}

.text-1 {font-size:18px; line-height:25px; color:#fff; font-style:italic;}

h2 { font-size:28px; line-height:36px; color:#bf96c7; font-weight:bold; font-style:italic;}
.h2 {border-bottom:#353535 1px solid; padding-bottom:7px;}
h3 { font-size:24px; line-height:30px; color:#bf96c7; font-weight:normal; font-style:italic; }
.h3 {border-bottom:#353535 1px solid;padding-top:5px;padding-bottom:8px;}
.h3-2 {padding-top:5px;padding-bottom:17px;}

ul {margin:0; padding:0;list-style-image:none;}
ul.list-1 li {padding:0px 0 8px 14px; line-height:18px; background:url(../images/marker-1.gif) 0 8px no-repeat;}
ul.list-1 li a { font-size:14px; color:#fff; line-height:18px; font-weight:bold; text-decoration:underline;}
ul.list-1 li a:hover {color:#6f6f6f; text-decoration:none;}

ul.list-2 li {padding:0px 0 13px 14px; line-height:18px; background:url(../images/marker-1.gif) 0 8px no-repeat;}
ul.list-2 li span { font-size:14px; color:#6f6f6f; line-height:18px; }
ul.list-2 li  span a { font-size:14px; color:#fff; line-height:18px; font-weight:bold; text-decoration:underline;}
ul.list-2 li  span a:hover {color:#bf96c7; text-decoration:underline;}

ul.list-3 li {padding:0px 0 26px 0px; line-height:18px;  overflow:hidden;}
ul.list-3 li span.date {display:block; float:left; background:url(../images/date-bg.png) 15px 0px no-repeat; width:97px; font-size:48px; line-height:60px; font-style:italic;}
ul.list-3 li span.date span {font-size:24px; line-height:30px; display:inline-block; float:left; color:#fff;}
ul.list-3 li span.extra-wrap { font-size:14px; color:#6f6f6f; line-height:18px; display:block; }
ul.list-3 li  span.extra-wrap a { font-size:14px; color:#bf96c7; line-height:18px; text-decoration:underline;}
ul.list-3 li  span.extra-wrap a:hover {color:#fff; text-decoration:underline;}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.img-indent {float:left; margin:3px 33px 0px 0;}
.img-indent-2 { margin:3px 0px 23px 0;}
.last {margin-right:0px !important;}
.center {text-align:center;}
.upper {text-transform:uppercase;}

.top-1 {margin-top:9px;}

.left-1 { margin-left:13px;}

.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}
.bot-1 {margin-bottom:21px;}
.bot-2 {margin-bottom:17px;}

.pad-1 {padding-left:40px; padding-right:40px;}
.pad-2 {padding-left:40px; }

.p1 {padding-bottom:18px;}
.p2 {margin-bottom:25px;}
.p3 {padding-bottom:20px;}
.p4 {padding-bottom:13px;}
.p5 {padding-bottom:6px;}

/*********************************header*************************************/

.header {background:url(../images/bg.jpg) 0 0 repeat; position:relative; width:100%;}
.header>div { position:relative; width:100%; background:url(../images/header-line.jpg) 0 bottom repeat-x; }
header {width:1024px; margin:0 auto; z-index:1000; position:relative; background:url(../images/banner.jpg) 0 0 no-repeat;}
.header .nav {position:absolute; width:100%; z-index:999;  background:url(../images/nav-line.png) 0 bottom repeat-x; padding-bottom:1px; }
nav {background:url(../images/nav.png) 0 0 repeat;  width:1024px; margin:3px auto 0 auto; position:relative; }
.subpages-nav {position:relative; width:100%; z-index:999; height:174px;  background:url(../images/banner.jpg) center 0 no-repeat;}
.subpages-nav nav {background:transparent !important; padding-top:59px; margin-top:0 !important; }
h1 {display:inline-block; z-index:100; position:absolute; top:0; left:425px; z-index:1000;}

ul.menu {display:inline-block;display:block; padding:46px 0 70px 21px;  }
ul.menu li {float:left; display:inline-block; line-height:24px; background:url(../images/li.png) 0 0 no-repeat; padding:0 34px 0 43px; }
ul.menu li.li-none {background:transparent;}
ul.menu li.li-left {margin-left:200px;} 
ul.menu li a {font-size:18px; line-height:24px; color:#fff; font-style:italic; display:inline-block;}
ul.menu li a:hover , ul.menu li.current a { color:#bf96c7;}

/*********************************content*************************************/
#content {width:1024px; margin:0 auto; background:url(../images/bg.jpg) 0 0 repeat; padding-bottom:49px; border-bottom:#303030 1px solid;}

.img-border {border:#474747 4px solid; display:inline-block;}

.gallery-block h2 {padding:26px 0px 16px 0px; text-align:center;}
.gallery-photo {border-top:#303030 1px solid; border-bottom:#303030 1px solid;}

.page1-row1 {overflow:hidden; padding-top:36px; }
.col-1 {float:left; width:190px; margin-right:50px;}
.col-2 {float:left; width:460px; margin-right:60px;}
.col-3 {float:left; }

.link-1-pad {float:right; margin-top:9px;}

.soc-icons {overflow:hidden; margin:17px 0 0 0;}
.soc-icons a {display:block; width:45px; height:45px; float:left; margin-right:2px;}
.soc-icons a:hover img {opacity:0.7;}

.adr {line-height:20px;}

.page2-row1 {overflow:hidden; padding-top:26px; padding-bottom:41px; }
.col-4 {float:left; width:570px; margin-right:70px;}
.col-5 {float:left; width:300px; }

.page2-row2 {overflow:hidden; }
.col-6 {float:left; width:570px; padding-right:30px; margin-right:20px; border-right:#303030 1px solid;}
.col-7 {float:left; width:320px; }

.comment {background:url(../images/comment-top.png) 0 0 no-repeat; padding-left:20px; margin-bottom:9px; width:270px;}
.comment p {background:url(../images/comment-bottom.png) right bottom no-repeat;} 

.page3-row1 {overflow:hidden; padding-top:26px; }
.col-8 {float:left; width:190px; padding-right:50px;}
.col-9 {float:left; width:744px; }

.page4-row1 {overflow:hidden; padding-top:26px; }
.col-10 {float:left; width:300px;  margin-right:60px; }
.col-11 {float:left; width:580px;}

.page5-row1 {overflow:hidden; padding-top:26px; }
.col-12 {float:left; width:600px;  margin-right:79px; }
.col-13 {float:left; width:265px;}

.page6-row1 {overflow:hidden; padding-top:26px; }
.col-14 {float:left; width:270px;  margin-right:50px; }
.col-15 {float:left; width:273px; margin-right:89px; }
.col-16 {float:left; width:260px; }

/* Lightbox image */
.lightbox-image{display:inline-block;position:relative;}
.lightbox-image img.magnify{position:absolute;width:0px;height:0px;left:50%;top:50%;}
/****************************footer************************/
footer { width:100%; position:relative; overflow:hidden; text-align:center; padding:7px 0 20px 0; }
footer span {display:inline-block; margin:0 auto; border-top:#3c3c3c 1px solid; padding-top:13px;line-height:22px;}
/**********************form**********************/
.map {width:265px; height:202px;margin-top:3px; }
.map iframe {width:265px; height:202px; }
dl {margin:20px 0px 0 0px;}
dl dt {line-height:24px; margin-bottom:3px;}
dl dd span { width:62px; text-align:right; display:block; float:left; margin-right:12px;}
dl dd {}
dl dd a {}
dl dd a:hover {}
#form { padding:3px 0 0px 0px; width:260px; }
#form input {border:#3f3f3f 1px solid; background:#2c2c2c; font-size:14px; font-family: "Times New Roman", Times, serif; color:#6f6f6f;padding:4px 10px 5px 10px;outline: medium none;width: 238px; height:17px; float:left; }
#form textarea {border:#3f3f3f 1px solid; background:#2c2c2c;font-size:14px; font-family:"Times New Roman", Times, serif;color:#6f6f6f; height: 130px;outline: medium none;overflow: auto; padding: 4px 0px 0px 10px;width: 248px;resize:none;margin:0px 0 0 0;float:left; }
#form label {position:relative;display: block;min-height:37px; overflow:hidden;}
.btns {text-align:right; margin-left:0px; overflow:hidden;}
.btns a.link-1 {display:inline-block; margin:14px 0px 0 25px; }