@import url('reset.css');
/* General Demo Style */
body{
	color: #333;
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-size: 13px;
	background-image: url(../images/bg.png);
	background-repeat: repeat;
	background-position: left top;
	width: 100%;
}
.container{
	position:relative;
}



.clr{
	clear: both;
}
.content{
	width: 1100px;
	margin: auto;
}
h1{
	margin:0px;
	padding:10px;
	font-size:32px;
	color:#000;
	text-shadow:1px 1px 1px rgba(255,255,255,0.9);
	text-align:left;
	font-weight:400;
}
h1 span{
    display:block;
	font-size:14px;
	color:#666;
    font-style:italic;
    font-family:Georgia, serif;
	padding-top:5px;
}


.more{
	position:relative;
	clear:both;
	font-size: 11px;
	padding: 20px 0px;
	text-transform:uppercase;
	width: 114px;
	height:19px;
	margin: 0 auto;
}
.more ul{
	display:block;
	text-align:center;
}
.more ul li{
	display: block;
    padding: 4px 2px;
    float:left;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#0099c5;
	color:#fff;
	text-shadow:none;
    font-weight:bold;
}
.more ul li a{
	color:#555;
    float:left;
	background:#fff;
    width:64px;
	padding: 2px 5px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#000;
	color:#fff;
}
