/*ie7*/
.left_menu li a { width: 260px; height: 18px;}
.sub_menu .list li a { width: 190px;}
.more_news .title { margin: -20px 0 0 70px;}
.arhives ul li a { float: left;}
.comments .entry_meta a { margin-top: -20px;}
.image_tab > div { margin: -6px 0 30px;}
.align_center { zoom: 1;}

.wh_162_162 .fade { width: 162px; height: 162px;}
.wh_190_140 .fade { width: 190px; height: 140px;}
.wh_190_190 .fade { width: 190px; height: 190px;}
.wh_190_260 .fade { width: 190px; height: 260px;}
.wh_203_203 .fade { width: 203px; height: 203px;}
.wh_210_140 .fade { width: 210px; height: 140px;}
.wh_210_210 .fade { width: 210px; height: 210px;}
.wh_324_440 .fade { width: 324px; height: 440px;}
.wh_324_324 .fade { width: 324px; height: 324px;}
.wh_295_215 .fade { width: 295px; height: 215px;}
.wh_295_295 .fade { width: 295px; height: 295px;}
.wh_295_400 .fade { width: 295px; height: 400px;}
.wh_400_295 .fade { width: 400px; height: 295px;}
.wh_648_320 .fade { width: 648px; height: 320px;}

.align_center { margin: 0 19px 20px;}
.image_tab > div { margin: -20px 0 20px; zoom: 1;}