/*
Free Html5 Responsive Templates
Author: Kimmy Tran
Author URI: http//www.zerotheme.com/
*/
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}

#res-slider{
	display: none;
}

@media only screen and (max-width: 979px) {
	.container {
		width: 100%;
	}
	header{
		height: auto;
		text-align: center;
		padding-bottom: 10px;
	}
	header nav{
		float: none;
		clear: both;
		padding-top: 90px;
	}
	header nav ul li a.current, header nav ul li a:hover {
		padding-bottom: 0px;
	}
	#gallery{
		display: none;
	}
	#res-slider{
		display: block;
		margin-top: 10px;
	}
	.col-custom{
		float: right;
		width: 90%;
	}
}
@media only screen and (max-width: 820px){
	.col-custom{
		float: right;
		width: 75%;
	}
}
@media only screen and (max-width: 600px) {
	.col-custom{
		float: right;
		width: 100%;
		display: inline-block;
	}
	footer .fright{
		float: left;
		padding: 0 0 0 40px;
	}
}