
body { width:100%; min-width:960px; }

.spa-packages, .banner-1, .shadow-1, .img-border-1, .img-border-2, .block-1, .block-1 img, .block-2, .block-2 img, .block-3, .block-3 img, #confirm .form-button { behavior: url('js/PIE.htc'); position:relative; }

.sf-menu ul { behavior: url('js/PIE.htc'); }

.sf-menu li { border: 1px solid transparent; }

.sf-menu li:hover, .sf-menu li.active, .sf-menu li.sfHover { border: 1px solid #902b26; }

.sf-menu li { box-shadow: 0 1px 3px transparent; }

.sf-menu ul { box-shadow: 0 1px 3px #2c2c2c; }

.spa-packages { box-shadow: 1px 1px 3px #802721; }

.banner-1 { box-shadow: 0 1px 2px #aba6a6; }

.shadow-1, #confirm .form-button { box-shadow: 0 1px 2px #aba6a6; }

.img-border-1, .img-border-2 { box-shadow: 0 1px 2px #aba6a6; }

#confirm input { line-height:35px; }
