
.menu_block  {
	float: right;
	z-index: 999;
	position: relative;
	padding-top: 19px;
	margin-right: -20px;
}


.menu_block nav {
	position: relative;
	font-family: 'Dorsa', sans-serif;
}


nav>.sf-menu {
	z-index: 990;
	text-align: left;
	position: relative;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	display: block;
	position: relative;
	float: left;
	font-size: 48px;
	line-height: 50px;

}



.sf-menu>li+li:after {
	left: 0;
	top: 0;
	height: 71px;
	width: 1px;
	content: '';
	position: absolute;
	display: block;
	z-index: 999;
	background-color: #d9d9d9;
}


.sf-menu>li>ul>li {
  float: none;
  position: static;
}

.sf-menu>li:first-child>a {
	padding-left: 20px;
}


.sf-menu>li>a{
	background: url(../images/menu_hover.png) 0 -100px repeat-x;
	text-align: center;
	color: #009b97;
	display: block;
	padding: 17px 23px 31px;
	border-bottom: 3px solid transparent;
	position: relative;
	overflow: hidden;
}

.sf-menu>li>a:after {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	content: '';
	display: block;
	bottom: -7px;
	position: absolute;
	left: 50%;
	margin-left: -4px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 4px 4px 4px;
	border-color: transparent transparent #009b96 transparent;

}

.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li>a:hover {
	background-position: 0 0;
	border-bottom-color: #009b97;
}


.sf-menu>li a:hover:after, .sf-menu>li.current a:after {
	bottom: 0;
}



/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
	left: 0;
	z-index: 999; 
	width: 100%;
	padding-top: 38px;
	background-color: #3498db;
	top: 81px;
	padding-bottom: 42px;

}

.sf-menu>li>ul>li>ul:after {
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	left: -5px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent #3d454b transparent transparent;
}


.sf-menu li ul li {
	position: relative;
	text-align: center;
	float: none !important;
	font-size: 14px;
	line-height: 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}

.sf-menu li ul li+li {
	margin-top: 13px;
}

.sf-menu li ul li+li+li {
	margin-top: 12px;
}

.sf-menu li ul li+li a {
}


.sf-menu li ul li a{
	text-transform: uppercase;
	position: relative;
	z-index: 999;
	color: #fff;	
}





.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {  
	color: #3d454b;
}

/*================================>> 3 Level <<========================================*/
.sf-menu li.sfHover li.sfHover ul{
	position: absolute;
	padding-top: 32px;
	padding-bottom: 35px;
	left: 203px;
	top: -9px;
	width: 135px;
	background-color: #3d454b;
}

.sf-menu li ul ul li a:hover
{
	color: #3498db;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 995px) {


	.sf-menu>li{
	}

	.sf-menu li.sfHover li.sfHover ul{
		left: 155px;
	}
}

@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		padding: 20px 10px 25px !important;
		clear: both;
		min-height: 0px;
  		border: none;
	}

	

  .menu_block  nav{
  	border: none !important;
		float:none !important;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		margin: 0 auto;
		padding-left: 0 !important;
		
	
	}

	

  header nav ul {
  	border: none;
  }

	.sf-menu{display:none !important; float: none;}

	#mm0{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #fff;
	}
	

}
