/**/
@import url(//fonts.googleapis.com/css?family=Noto+Sans);
@import url(//fonts.googleapis.com/css?family=Paprika);

@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/superfish.css";




html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font: 12px/20px  Arial, Helvetica, sans-serif;
	color:#9b9a9a;
	position:relative;
	min-width:960px;
	background: #e3e3e3;

}

body.page1 {
	min-width: 1233px !important; 
}

.ic, .ic a {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Paprika', cursive;;
	color: #fff;
}

h2 {
	color: #4585b7;
	font-size: 30px;
	line-height: 34px;
	background: url(../images/icon1.png) right bottom no-repeat;
	display: inline-block;
	padding-right: 50px;
	padding-top: 104px;
	padding-bottom: 2px;
	margin-bottom: 30px;
}

h2.ic1 {
	background-image: url(../images/icon2.png);
}

p {
	margin-bottom: 20px;
}



img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list li{
	color: #747474;
}

ul.list li+li {
	margin-top: 15px;
}

ul.list li>span {
	margin-top: 4px;
	float: left;
	display: block;
	background: #c9e54e;
	color: #fff;
	margin-right: 32px;
	width: 48px;
	height: 51px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

ul.list li>span.cnt {
	background: #f98d0d;
}

ul.list li>span time  {
	display: block;
	padding-top: 8px;
}


ul.list li>span span {
	margin-top: -2px;
	display: block;
	font-size: 10px;
}


ul.list.l1 li>span time {
	display: block;
	padding-top: 17px;
}

ul.list.l1 li .col1 {
	margin-bottom: 41px;
}

ul.list.l1 li+li {
	margin-top: 16px;
}

ul.list.l1 li+li .col1 {
	margin-bottom: 42px;
}

h2.head1 {
	padding-top: 55px !important;
}

ul.list1 span {
	width: 13px;
	height: 13px;
		margin-top: 4px;
	float: left;
	display: block;
	background: #c9e54e;
	margin-right: 67px;
}

ul.list1  li+li {
	margin-top: 4px;
}


ul.list1 li>span.cnt {
	background: #f98d0d;
}

ul.list.l2 .col1 {
	padding-bottom: 23px;
}
/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #f98d0d;
}

a.btn {
	display: inline-block;
	background: #f98d0d;
	color: #fff;
	margin-top: 38px;
	padding: 7px 27px 13px 29px;
	font: 20px/20px 'Noto Sans', sans-serif;

}

a.btn:hover {
	background: #C9E54E;
}
/*preclass*/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}

.ind1 {
	margin-top: 11px;
}

.pad0 {
	padding: 0 !important;
}

.pad1 {
	padding-right: 15px;
}

.pad2 {
	padding-right: 10px;
}


.pt0 {
	padding-top: 0;
}

.img_inner {
	max-width: 100%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 margin-bottom: 30px;
 margin-top: 4px;
 position: relative;

}

.img_inner:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 5px;
	bottom: -5px;
	left: 0;
	
}



.fleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 11px;
}

.fleft.i1 {
	margin-bottom: 23px;
}


.fleft.i2 {
	margin-bottom: 19px;
}

.fright {
	float: right !important;	
}

.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.style1 {
	line-height: 18px;
}

.text1 {
	line-height: 18px;
	color: #000;
	margin-bottom: 18px;

}

.text1 a {
	color: #f98d0d;
}

.text1 a:hover {
	color: #000;
}

.col1 {
	color: #000;
	margin-bottom: 19px;
}

.col1 time {
	display: block;
	padding-top: 5px;
	font-size: 12px;
	color: #333;
}

.col2 {
	color: #f98d0d;
}

.col2 a:hover, a.col2:hover  {
	color: #000;
}

ul.list .col1 {
	font-size: 13px;
	line-height: 18px;
}

ul.list.l2 li {
	color: #9b9a9a;
}


/*header*/

header {
	display: block;
	padding-top: 34px;
	position: relative;
	z-index: 999;
	background: #000;
	padding-bottom: 48px;
}


header h1 {
	float: none;
	position: relative;
	z-index: 999;

}
header h1 a {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 130px;
	float: left;
	height: 66px;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

header h1 a img {
	display: block;	
}

.nb {
	border: none !important;
	background-position: 0 101% !important;
}

.page1_block {
	background: url(../images/page1_bg.png) 0 bottom repeat-x #f9f9f9;
	padding-bottom: 102px;
	border-bottom: 1px solid #dadada;
}

/*Content*/

.content {
	background: #fff;
	padding-bottom: 95px;
}

.content.page1 h2 {
	margin-top: -2px;
	padding-bottom: 2px;
}

.content h2 {
	margin-top: -5px;
	padding-bottom: 2px;
}

.col2 {
	margin-bottom: 6px;
}

.carousel1 {
	cursor: default !important;
}

a.prev {
	float: right;
	display: block;
	width: 35px;
	margin-top: 105px;
	height: 31px;
	background: url(../images/prevnext.png) 0 0 no-repeat;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

a.prev:hover {
	background-position: 0 bottom;

}

a.next {
	float: right;
	margin-right: 79px;
	margin-left: 1px;
	display: block;
	width: 35px;
	margin-top: 105px;
	height: 31px;
	background: url(../images/prevnext.png) right bottom no-repeat;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

a.next:hover {
	background-position: right 0;
}

.bottom_block {
	background: #000;
	padding-bottom: 108px;
}


.bottom_block.bot1  {
	padding-bottom: 92px;
}


.bottom_block.bot1 h2 {
	top: 0;
	padding-top: 99px;
}

.bottom_block.bot1 .col2 {
	position: relative;
	top: -4px;
	margin-bottom: 5px;
}

.bottom_block h2 {
	color: #fff;
	position: relative;
	top: 3px;
}

.bottom_block .cont {
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	padding-top: 5px;
}

.bottom_block img {
	margin-top: 0;
	margin-bottom: 20px;
}


.bottom_block .cont span {
	padding-top: 13px;
	display: block;
	color: #f98d0d;
	letter-spacing: -1px;
}

.text2 {
	font-size: 18px;
	margin-bottom: 8px;
}

.clear.he1 {
	height: 30px !important;
}

.clear.he2 {
	height: 87px !important;
}

.blog .text2 {
	margin-bottom: 22px;
}

.blog+.blog {
	margin-top: 86px;
}

.blog a.btn {
	margin-top: 31px;
}

.pt1 h2 {
	margin-top: 0 !important;
}

.bottom_block .col2 a:hover {
	color: #fff;
}



/**to top**/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:30px;
	overflow:hidden;
	width:39px;
	height:36px;
	border:none;
	text-indent:-999px;
	z-index:999;
	background:url(../images/totop.png) no-repeat left top;
	transition: 0s ease;
	-webkit-transition: 0s ease;
	-o-transition: 0s ease;	
}
#toTop:hover {
	background-position: 0 bottom;
}

/****Map***/

.map {
	padding-top: 0px;
	padding-right: 22px;
	margin-top: -1px;
	color: #848383;
}

.map figure {


		 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 display: block;
 margin-bottom: 26px;
 border: 1px solid #f2f2f2;

}
.map figure iframe {
	width: 100%;
	height: 280px;
	max-width: 100%;
}

.map address {
}

.map p {
	margin-bottom: 18px;
}

.map {
	font-size: 14px;
	line-height: 18px;
}

.map .text1 {
	line-height: 20px;
	margin-bottom: 2px;
}

address dt {
	color: #000;
}

address dd span {
	min-width: 100px;
	display: inline-block;
	text-align: left;
}




/************Footer***********/

footer {
	display: block;
	padding: 56px 0;
	font-size: 12px;
	color: #6b6868;
}

.socials {
	float: right;
}

.socials a {
	float: left;
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	background: url(../images/socials.png) 0 0 no-repeat;
}

.socials a:hover {
	opacity: 0.5;
}

.socials a+a {
	background-position: -35px 0;
}

.socials a+a+a {
	background-position: -70px 0;
}

.socials a+a+a+a {
	background-position: right 0;
}

.socials a+a {
	margin-left: 11px;
}

footer p {
	margin-bottom: 0;
	padding-top: 6px;
}



footer address {
	line-height: 18px;
	margin-top: -1px;
}
